---
layout: archive
title: "Experiences"
permalink: /experiences/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.experiences reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Education</h2>
<div class="experience-item">
  <p>2022.9 - Present: M.S. in Statistics, School of Data Science, Fudan University</p>
</div>
<div class="experience-item">
  <p>2018.9 - 2022.6: B.S. in Computer Science and Technology, School of Computer Science, Wuhan University</p>
</div>

<h2>Internship</h2>
<div class="experience-item">
  <p>2023.7 - Present: Applied Research in Computer Vision, Youtu Lab, Tencent</p>
</div>

<h2>Selected Awards</h2>
<div class="experience-item">
  <p>National Scholarship, Ministry of Education of China</p>
</div>
<div class="experience-item">
  <p>Samsung Scholarship, Samsung</p>
</div>
<div class="experience-item">
  <p>Zhicheng Scholarship, Fudan University</p>
</div>
<div class="experience-item">
  <p>Graduate Academic Scholarship, Fudan University</p>
</div>
<div class="experience-item">
  <p>Undergraduate Academic Scholarship, Wuhan University</p>
</div>
<div class="experience-item">
  <p>Excellent Undergraduate Graduate & Merit Student, Wuhan University</p>
</div>