---
layout: archive
title: "Experiences"
permalink: /experiences/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.experiences reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h1>Education</h1>
<div class="experience-item">
    <h3>2022.9 - Present: M.S. in Statistics</h3>
    <p>School of Data Science, Fudan University</p>
</div>
<div class="experience-item">
    <h3>2018.9 - 2022.6: B.S. in Computer Science and Technology</h3>
    <p>School of Computer Science, Wuhan University</p>
</div>

<h1>Internship Experience</h1>
<div class="experience-item">
    <h3>2023.7 - Present: Computer Vision Algorithm Research</h3>
    <p>Youtu Lab, Tencent</p>
</div>

<h1>Awards</h1>
<div class="experience-item">
    <h3>National Scholarship</h3>
    <p>Ministry of Education of China</p>
</div>
<div class="experience-item">
    <h3>Samsung Scholarship</h3>
    <p>Samsung</p>
</div>
<div class="experience-item">
    <h3>Zhi Cheng Scholarship</h3>
    <p>Fudan University</p>
</div>
<div class="experience-item">
    <h3>Graduate Academic Scholarship</h3>
    <p>Fudan University</p>
</div>
<div class="experience-item">
    <h3>Undergraduate Academic Scholarship</h3>
    <p>Wuhan University</p>
</div>
<div class="experience-item">
    <h3>Outstanding Student & Excellent Undergraduate Graduate</h3>
    <p>Wuhan University</p>
</div>